<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mk.korun.najdismestuvanje"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <permission
        android:name="mk.korun.najdismestuvanje.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mk.korun.najdismestuvanje.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".zadaci.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LifecycleActivity"
            android:label="@string/title_activity_lifecycle" >
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PropertiesActivity"
            android:label="@string/title_activity_places" >
        </activity>

        <service android:name=".zadaci.TestIntentService" >
        </service>

        <receiver android:name=".zadaci.TestBroadcastReciever" >
            <intent-filter>
                <action android:name="mk.korun.najdismestuvanje.TEST_RECIEVER" />
            </intent-filter>
        </receiver>

        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCHEjyy6eLKArtnR0RWEYYSdT49VK0tew0" />
        <!-- Veze neam so e ova -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="mk.korun.najdismestuvanje.zadaci.SendMessageActivity"
            android:label="@string/title_activity_send_message" >
        </activity>
    </application>

</manifest>